<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
  </head>
  <body>

    <h1>Oh Noes: 404</h1>
    <p>It looks like the route you are trying to hit could not be found. Would you like to create
      the route in Shipyard?</p>

    <p><a href="#">Create on Shipyard</a></p>

    <script type='text/javascript'>
      var yarrData = <%- data %>;
    </script>

  </body>
</html>
